<div class="about-background">
  <br>
  <div class="row">
    <div class=" center-align blue-grey lighten-4 col m8 offset-m2 s12 l6 offset-l3">
      <div class="center-align">
      <h4>About Context Production</h4>
      <br>
      <div class="left-align">
      <h5 >Introduction</h5>
      <p>As an oil and gas professional you know that decision making in our
        industry can be difficult. Keeping up with numerouos wells in multiple
        fields compounds the problems that we face. Luckily there are many software
        packages that help us keep up with production and decision making.</p>
      <p>Because of the complicated nature of our industry, the software to manage can be cumbersome as well.</p>
        <p>We are hoping to change that.</p>
      </div>
      <div class="left-align">
      <h5 >Simplicity</h5>
      <p>Context Production was created with the end user in mind. </p>

        <p>With easy to navigate menus,
        accessible data visualization tools, and customizable reports, it is a different experience
        from any other software package available.</p>
      <p>Uploading well data is effortless. While most oil and gas software packages are geared towards
      major companies. We are focused on small operators with fewer wells. For most of our customers well
    data can be uploaded in an afternoon.</p>
    <p>Other software packages take days to set up various databases and require a full time IT professional
      to manage server access. With our cloud servers, we take care of everything behind the scenes. Making you
    and your operation more efficient.</p>
      </div>
      <div class="left-align">
      <h5 >Value</h5>
      <p>For all of this, we charge a small monthly fee. Feel free to download your data and cancel at any time.</p>
      <p>For a free trial account visit the contact link at the top of your page.
      </div>

    </div>
    </div>
  </row>
</div>
