<div class="dashboard-main">
    <div class=" dashboard-left">
      <div class="row">
        <div class="col s12">
            <div class="card blue-grey lighten-4">
                <div class="card-content black-text">
                    <span class="card-title">Wells</span>
                    <ul class="well-button-list">
                        <li ng-repeat="well in wells">
                            <a class="waves-effect waves-light btn orange lighten-1 dashboard-well-button" ng-click="getWellCharts(well.well_id, well.well_name)">
                          {{well.well_name}}</a></li>
                    </ul>
                </div>
                <div class="card-action">
                    <a ui-sref="upload">Upload Well</a><br>
                    <br>
                    <a ng-click="removeWell(currentWellId)">Remove Well</a>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <a class="waves-effect waves-light btn orange lighten-1" ng-click="logout()">Logout</a>
        </div>
      </div>
    </div>

    <div class="dashboard-right" id="exportthis">
        <div class="row">
            <div class="col s12">
                <div class="card blue-grey lighten-4  chart-card">
                    <div class="card-content black-text">
                        <span class="card-title">Oil Production - {{currentWellName}}</span>
                        <div id="chart1" class="blue-grey lighten-5">

                        </div>
                    </div>

                    <div class="card-action">
                        <a class="waves-effect waves-light btn orange lighten-1" ng-click="panelHide1 = !panelHide1; panelHide2 = false">Hyperbolic Decline</a>
                        <a class="waves-effect waves-light btn orange lighten-1" ng-click="panelHide2 = !panelHide2; panelHide1 = false">Exponential Decline</a>
                        <!-- "" -->
                    </div>
                    <div class="hyperbolic-options" ng-show="panelHide2">
                      <exponential-plot></exponential-plot>
                    </div>

                    <div class="hyperbolic-options" ng-show="panelHide1">
                      <hyperbolic-plot></hyperbolic-plot>

                    </div>
                </div>
            </div>
        </div>
    </div>





</div>
