@font-face {
    font-family: gothamBook;
    src: url(./assets/Gotham-Book.otf);
}
.oilLogo {
  margin: 7px 14px 7px 7px;
  height: 60px;
  width: 221px;
  padding-bottom: 5px;
}
nav {
  height: 64px;
}
.badgelogo {
  width:40%;
  margin-left: 30%;
  margin-top: 7vh;
}
#chart1 {
  font-size: .75em;
}
.main-background{
  width: 100%;
  height: 100vh;
  background: url("./assets/images/mainBackground.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.about-background{
  width: 100%;
  height: 100%;
  background: url("./assets/images/field1.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main-nav a {
  color: black;
}
.ytext {
  font-size: .9em;
}
body { font: 12px gothamBook;}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

/*#chart1 svg {
height: 50vh;
width: 100%;
}*/
#chart1 {
height: 50vh;
width: 100%;
}
/*-------Login Page---------*/
.loginCard {
  margin-top: 40px;
}
.signInCard{
  width: 400px;
  margin: auto;
}
.invis {
  background: none;
}
.signinbox{
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: center;

}
.buttonbox {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: space-between;
}
.signinbox a {
  margin: 10px;
}
/*-------------Dashboard--------------------*/
.dashboard-main {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
}
.dashboard-left {
  margin: 20px;
  width: 20%;

}
.dashboard-left .btn{
  height: 20px;
  width: 150px;
  font-size: 10px;
  margin: 5px;
  line-height: 22px;
}
.dashboard-right{
  margin: 20px;
  width:70%;

}

.dashboard-well-button {
  margin: 5px;
}
.well-button-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
