
<div>
    <h5>File Uploader</h5>
    <form ng-submit="check()">

        <div class="row">
            <div class="input-field col s8">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" id='file1'>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8">
                <input id="newWellName" type="text" class="validate">
                <label>Well Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
        <input type="submit" value="Upload" class="waves-effect waves-light btn">
      </div>
      <div class="row">
          <div class="input-field offset-s9 offset-m9 offset-l9 col s3 m3 l3">
            <br>
            <br>
          <a ui-sref="dashboard" class="waves-effect waves-light btn orange darken-4">Return to Dashboard</a>
    </div>
    </div>
    </div>
    </form>
</div>
