
<nav>
   <div class="nav-wrapper blue-grey lighten-4 main-nav">

     <a href="#!" class="brand-logo"><img class="oilLogo" src=".\assets\images\kurtlogobanner.png"></a>
     <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
     <ul class="right hide-on-med-and-down">
       <li><a ui-sref="home">Home</a></li>
       <li><a ui-sref="about">About</a></li>
       <li><a ui-sref="example">Example</a></li>
       <li><a ui-sref="contact">Contact</a></li>
       <li><a ui-sref="login">Login</a></li>
       <li><a ui-sref="dashboard">Dashboard</a></li>
     </ul>
     <ul class="side-nav" id="mobile-demo">
       <li><a ui-sref="home">Home</a></li>
       <li><a ui-sref="about">About</a></li>
       <li><a ui-sref="example">Example</a></li>
       <li><a ui-sref="contact">Contact</a></li>
       <li><a ui-sref="login">Login</a></li>
       <li><a ui-sref="dashboard">Dashboard</a></li>
     </ul>
   </div>
 </nav>
